<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.github.yxchange.metadata.mapper.AccountOperationMapper" >
  <resultMap id="BaseResultMap" type="com.github.yxchange.metadata.entity.AccountOperation" >
    <!--
      WARNING - @mbggenerated
    -->
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="operation" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="amount" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="freeze_order_id" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="available_before" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="available_after" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="freezed_before" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="freezed_after" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="description" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="createtime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="modifytime" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <select id="getUnFreezed" resultType="java.math.BigDecimal">
  	select sum(amount) from account_operation where freeze_order_id=${freezeOrderId} or (order_id=${freezeOrderId} and operation=1)
  </select>
</mapper>